h4, p {
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.3em;
  }

.botonDescarga {
  color: rgb(46, 1, 40);
  background-color: rgb(210, 106, 210, 0.5);
  border-radius:10px;
  border-color: transparent;
}