h4, p{
    font-size: 1.3em;
    text-align: start;
    line-height: 1.3em;
  }

a{
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
}

.principal{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.sidebar{
    width: 25%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 850px;
}