.principal{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.sidebar{
    width: 20%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.carrousel{
    width: 500px;
}