.principal{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.sidebar{
    width: 25%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 850px;
    padding-bottom: 70px;
}

.content p{
    font-size: medium;
}

.carrousel{
    width: 500px;
}

.imagen{
    width: 100%;
    max-width: 700px;
}