h2 {
  padding: 30px;
}

.lista {
  padding-top: 60px;
}

.lista ul {
  list-style: none;
  padding: 0;
}

.lista li {
  padding: 0.5em;
}

.lista a {
  font-weight: 300;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}

.lista a:hover {
  color: rgb(210, 106, 210);
}
/*
.wrapper {
  position:relative;
  margin-top: 10em;
  transform: translate(none, -20%);
}
.mainMenu {
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}
.item {
  border-top: 1px black;
  width: 15em;
}

.item:hover, .btn:hover, .subMenu a:hover {
  color: rgb(210, 106, 210);
}
.btn {
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
}

.btn i {
  font-style: normal;
}
.subMenu {
  /* width: 15em; */ /*
  max-height: none;
  text-align:start;
}
.subMenu a {
  display: flex;
  padding: 7px 25px;
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
}

h2{
  padding-bottom: 100px;
} */