* {
  list-style: none;
}

.wrapper {
  position:static;
  margin-top: 10em;
  transform: translate(none, -50%);
}
.mainMenu {
  width: 250px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.item {
  border-top: 1px black;
  overflow: hidden;
  width: 15em;
}

.item:hover {
  color: rgb(210, 106, 210);
}
.btn {
  display: block;
  background-color: white;
  color: black;
  position: relative;
}

.btn i {
  font-style: normal;
}
.subMenu {
  width: 15em;
  overflow: visible;
  transition: max-height 0.7s;
  max-height: 0;
  text-align: justify;
}
.subMenu a {
  display: block;
  padding: 7px 25px;
  color: black;
  font-size: 14px;
  position: relative;
  text-decoration: none;
}

.subMenu a:hover {
  color: rgb(207, 133, 207);
}
.item:target .subMenu {
  max-height: 80em;
}
