@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

.app {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.sidebar{
 flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
}

.header{
  text-align: center;
}

.content-navigator{
  padding: 25px;
}

.footer{
  margin-left: 1.5em;
}
